# Ignore system and editor-specific files
.vscode/
.DS_Store
__pycache__/
*.log

# Ignore Jupyter Notebooks checkpoints and Jupyter Notebook fully
.ipynb_checkpoints/
*.ipynb

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore virtual environments (uncomment if using a local venv)
# venv/
.venv/

# Ignore data
data/

# Ignore Node.js dependencies (if applicable)
node_modules/
dist/

# Allow Streamlit & Python files
!.streamlit/
!.streamlit/config.toml
!.py  # Ensure your Streamlit scripts are NOT ignored

# But
.streamlit/secrets.toml